<!DOCTYPE html>
<html>
<head>
    <title>Carga de archivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        <div class="col-md-6 mx-auto">
            <h1>Carga de archivo</h1>
            <form method="POST" action="/api/upload_file" enctype="multipart/form-data">
                <label for="file">Selecciona un archivo:</label>
                <input type="file" id="file" name="file" accept=".mp3,.wav, .avi, .m4a" class="form-control">
                <button type="submit" class="btn btn-primary mt-3">Cargar</button>
            </form>
        </div>
    </div>

    <div class="container text-center mt-5">
        <div class="col-md-6 mx-auto">
            <h1>Graba tu propio audio aquí</h1>
            <button id="recordButton" class="btn btn-success mt-3">Iniciar Grabación</button>
            <p id="recordingStatus" style="display: none;">Grabando...</p>
        </div>
    </div>

    <div class="container text-center mt-5">
        <div class="col-md-6 mx-auto">
            <div style="max-height: 200px; overflow-y: scroll;">
                <h3 id="resultText" style="display: none;">{{result}}</h3>
            </div>
            <a href="#" id="downloadButton" class="btn btn-primary mt-3" style="display: none;">Descargar Texto</a>
        </div>
    </div>
    
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var resultText = "{{result}}"; // Obtiene el texto del template Flask
            var resultTextElement = document.getElementById("resultText");
            var downloadButton = document.getElementById("downloadButton");
    
            if (resultText) {
                resultTextElement.style.display = "block"; // Muestra el texto
                downloadButton.style.display = "block"; // Muestra el botón de descarga
            }
    
            downloadButton.addEventListener("click", function () {
                var blob = new Blob([resultText], { type: "text/plain" });
                var url = URL.createObjectURL(blob);
                var a = document.createElement("a");
                a.href = url;
                a.download = "texto_transcrito.txt";
                a.click();
                URL.revokeObjectURL(url);
            });
        });
    </script>
    
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
