<!DOCTYPE html>
<html>
<head>
    <title>Carga de archivo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        <div class="col-md-6 mx-auto">
            <h1>Carga de archivo</h1>
            <form method="POST" action="/api/upload_file" enctype="multipart/form-data">
                <label for="file">Selecciona un archivo:</label>
                <input type="file" id="file" name="file" accept=".txt,.pdf,.doc,.docx" class="form-control">
                <button type="submit" class="btn btn-primary mt-3">Cargar</button>
            </form>
        </div>
    </div>

    <div class="container text-center mt-5">
        <div class="col-md-6 mx-auto">
            <h1>Graba tu propio audio aquí</h1>
            <form method="POST" action="/api/record_wav" enctype="multipart/form-data">
                <button type="submit" class="btn btn-success mt-3">Grabar</button>
            </form>
        </div>
    </div>

    <div class="container text-center mt-5">
        <div class="col-md-6 mx-auto">
            <h3>{{result}}</h3>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
